.padding-20 {
	padding-left: 20px;
	padding-right: 20px;
    margin-bottom: 50px;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

i {
    font-style: normal;
}
.notification-click {
    padding-top: 5px;
    padding-bottom: 5px;
}
.not-div-class {
    display: table;
    border: 1px solid;
    margin-right: 15px;
}

.notif {
    box-shadow: 0px 0px 3px 1px #ccc;
    padding: 10px;
    white-space: nowrap;
}
h1 {
    font-size: 52px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.breadcrumb {
    border-radius: 0px;
}
.brand i {
    font-size: 70px;
    height: auto;
    line-height: initial;
    margin-top: -10px;
}

.add-adaptive {
   display: flex;
}
.btn {
    border-radius: inherit;
}
@media (max-width: 990px) {
    .add-adaptive {
        display: flex;
        position: fixed;


        z-index: 9999;
        top: 10px;
        right: 10px;
        left: 150px;
        right: auto;
    }

    .rd-navbar-fixed .rd-navbar-main-element {
        width: 100%;
      }
      .breadcrumb {
        margin-top: 70px;
      }
}

.footer {
    background: #6c757d !important;

margin-top: 50px;
display: table;
}
.footer ul li a {
    color: #fff;
}





.side,
.containers {
  width: 5em;
  height: 5em;
  }

.containers {
    margin-left: 20px;
  border: 1px dotted white;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
  }
  .containers:before,
  .containers:after {
    content: "";
    display: block;
    position: absolute;
    width: 5em;
    height: 5em;
    border: 1px dotted white;
    }
    .containers:before {
      transform: rotateX(45deg);  
      }
    .containers:after {
      transform: rotatey(45deg);  
      }

.side {
  position: absolute;
  width: 5em;
  height: 5em;
  border: 1px solid white;
  opacity: .7;
  }

.back {
  transform: translateZ(-2.5em);
  background: orange;
  }

.left {
  transform: translateX(-2.5em) rotateY(90deg);
  background: lightgreen;
  }

.right {
  transform: translateX(2.5em) rotateY(90deg);
  background: yellowgreen;
  }
.top {
  transform: translateY(-2.5em) rotateX(90deg);
  background: skyblue;
  }

.bottom {
  transform: translateY(2.5em) rotateX(90deg);
  background: steelblue;
  }

.front {
  transform: translateZ(2.5em);
  background: gold;
  }

@keyframes rotate {
  100% {
    transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
  }
}







@media (max-width: 990px) {
    .side,
.containers {
  width: 4em;
  height: 4em;
  }
    .containers {
        margin-left: 0px;
      border: 1px dotted white;
      transform-style: preserve-3d;
      animation: rotate 10s infinite linear;
      }
      .containers:before,
      .containers:after {
        content: "";
        display: block;
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        border: 1px dotted white;
        }
        .containers:before {
          transform: rotateX(45deg);  
          }
        .containers:after {
          transform: rotatey(45deg);  
          }
    
    .side {
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      border: 1px solid white;
      opacity: .7;
      }
    
    .back {
      transform: translateZ(-1.25em);
      background: orange;
      }
    
    .left {
      transform: translateX(-1.25em) rotateY(90deg);
      background: lightgreen;
      }
    
    .right {
      transform: translateX(1.25em) rotateY(90deg);
      background: yellowgreen;
      }
    .top {
      transform: translateY(-1.25em) rotateX(90deg);
      background: skyblue;
      }
    
    .bottom {
      transform: translateY(1.25em) rotateX(90deg);
      background: steelblue;
      }
    
    .front {
      transform: translateZ(1.25em);
      background: gold;
      }

      .rd-navbar-fixed .rd-navbar-brand {
        margin-left: 0px;
    }
    .rd-navbar-fixed .rd-navbar-brand {
    
        overflow: inherit;
    }
}




